<head>
  <meta charset="utf-8" />
  <meta name="description" content="This is Tomer Shvueli's landing page." />
  <meta name="keyword" content="{{ site.name }}, landing page, resume" />
  <meta name="author" content="{{ site.name }}" />

  <meta property="og:site_name" content="Tomer Shvueli's Landing Page">
  <meta property="og:title" content="Tomer Shvueli's Landing Page">
  <meta property="og:url" content="http://tomer.shvueli.com/">
  <meta property="og:description" content="This is Tomer Shvueli's landing page.">
  <meta property="og:image" content="http://gravatar.com/avatar/{{ site.email | downcase | md5 }}?s=350">

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@thetomester13" />
  <meta name="twitter:title" content="Tomer Shvueli's Landing Page" />
  <meta name="twitter:description" content="This is Tomer Shvueli's landing page." />
  <meta name="twitter:image" content="http://gravatar.com/avatar/{{ site.email | downcase | md5 }}?s=350" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>{{ site.name }}'s Landing Page</title>

  <link href="img/favicon.ico" rel="icon" type="image/x-icon" />

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

  <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/main.js"></script>
  <script defer type="text/javascript" src="/assets/js/font-awesome-all.min.js"></script>
</head>