<section id="menu">
  <h1><a href="#">{{ site.name }}</a></h1>
  <div class="statement">
    <p>
      {{ site.data.content.menu.description }}
    <p>
    {% if site.data.content.menu.icons %}
    <div class="center">
      {% for icon in site.data.content.menu.icons %}
        <img src="{{ icon.img }}" alt="{{ icon.title }}" height="50" />
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <ul id="section-list">
    <li><a href="#now">now</a></li>
    <li><a href="#resume">resume</a></li>
    <li><a href="#projects">projects</a></li>
    <li><a href="#freelance">freelance</a></li>
  </ul>
</section>