<section id="menu">
  <h1><a href="#">{{ site.name }}</a></h1>
  <div class="statement">
    <p>
      {{ site.data.content.menu.description }}
    <p>
    <div class="center">
      <img src="img/ncsu.png" alt="Proud NCSU Alum. Go Pack!" height="50" />
      <img src="img/hodgkins.png" alt="Hodgkin's Lymphoma Cancer Ribbon" height="50" />
    </div>
  </div>
  <ul id="section-list">
    <li><a href="#now">now</a></li>
    <li><a href="#resume">resume</a></li>
    <li><a href="#projects">projects</a></li>
    <li><a href="#freelance">freelance</a></li>
    <!--<li><a href="#contributions">contributions</a></li>-->
  </ul>
</section>