html {height: 100%;}
body {background: url(../img/brillant.png); margin: 0; font-family: 'Flamenco', cursive; height: 100%; overflow: hidden; display: block;}
#page-content {height: 100%;}

h1 a {text-decoration: none; color: #000;}
a.external {background: url(../img/external-link.png) no-repeat right center; padding-right: 13px;}
ul {margin-left: 10px;}
#page-wrap > section {overflow-y: auto; overflow-x: hidden; height: 100%;}
section {position: absolute;}
iframe {border: 0;}
.latest-post-wrapper {font-size: 20px; padding: 0 10px;}

.strike-through {text-decoration: line-through;}
.green {color: #25CA2A;}
.center {text-align: center;}
.center img:first-child {margin-right: 30px;}
#personal-quote {font-size: 22px; padding: 0 15px;}

@font-face {
  font-family: 'Flamenco';
  font-style: normal;
  font-weight: 400;
  src: local('Flamenco Regular'), local('Flamenco-Regular'), url(/assets/fonts/Flamenco/Flamenco-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

#home {position: absolute; text-align: center; margin-top: 20px; opacity: 0; width: 100%; transition: all .25s ease-in-out; display: none;}
#home.show {opacity: 1; display: block; margin-left: 0; margin-top: 20px;}
#home.show .section-wrap {height: auto;}
#home img {height: 350px; border-radius: 50%; border: 1px solid #000;}
#home p {font-size: 25px;}

#menu {height: 100%; width: 28%; width: calc(30% - 20px); padding: 0 10px; -webkit-box-shadow: 3px 0px 7px -3px; box-shadow: 3px 0px 7px -3px; z-index: 20; background: url(../img/brillant.png);}
#menu h1 {text-align: center; font-size: 36px;}
#menu .statement {font-size: 22px; line-height: 32px; text-align: justify; padding: 0 20px; color: #666;}
#menu #section-list {list-style-type: none; margin: 30px 0 20px 10%; font-size: 24px;}
#menu #section-list li {padding-bottom: 25px;}
#menu #section-list li a {color: #000; text-decoration: none; transition: all .2s ease-in;}
#menu #section-list li ul {display: none;}
#menu #section-list li ul:target {display: block;}

#content {height: 100%; width: 52%; width: calc(54% - 80px); padding: 0 40px 0 0; left: 30%;}
#content section {height: 100%; overflow-y: scroll; margin: 0 0 0 -610px; width: 100%; opacity: 0; transition: all .5s ease-in-out; z-index: 9; display: block; text-align: center;}
#content section .section-wrap {height: 0; overflow: hidden;}
#content section:target {margin-left: 0; opacity: 1;}
#content section:target .section-wrap {height: auto;}
#content section h2 {text-decoration: underline; font-size: 28px; margin-bottom: 15px;}
#content section h2 small {text-decoration: none;}
#content section h3 {text-decoration: underline; font-size: 26px; margin-bottom: 10px;}
#content section a {color: #000;}
#content section .title a {text-decoration: none;}

#content #resume {text-align: center; z-index: 15; padding-top: 40%;}
#content #projects {z-index: 14;}
#content #portfolio {z-index: 13;}
#content #dabbling {z-index: 12;}

#content .project-list li .title.deprecated a {text-decoration: line-through;}

#contact {height: 100%; width: 18%; width: calc(20% - 20px); box-shadow: inset 3px 0px 7px -3px; right: 0;}
#contact-list {list-style-type: none; padding: 10px;}
#contact-list li {display: block; text-align: center; padding: 10px 0;}
#contact-list li a {font-size: 100px; color: #000; opacity: .75; transition: opacity .2s ease-in-out;}
#contact-list li a:hover {opacity: 1;}

#content #about-me .section-wrap {padding: 0 10px 0 4px;}
.about-list {text-align: left; font-size: 20px; line-height: 25px; margin-bottom: 50px;}
.about-list li {margin-bottom: 15px;}
#quote {font-size: 24px; margin-bottom: 0; padding: 0 3px;}
#quote-author {font-size: 23px; margin-top: 15px;}

.project-list {list-style-type: none; padding: 0 15px; margin-bottom: 20px;}
.project-list li {display: block; overflow: hidden; position: relative; margin-bottom: 50px;}
.project-list li .main {display: block; position: relative; overflow: hidden;}
.project-list li .inset-pic {box-shadow: inset 0 0 15px #000; border-radius: 10px; float: left; margin-right: 20px;  transition: all .25s ease;}
.project-list li .inset-pic.hover {box-shadow: inset 0 0 5px #000;}
.project-list li .inset-pic .thumb {float: left; height: 125px; width: 125px; z-index: -1; position: relative; border-radius: 10px;}
.project-list li .thumb {float: left; height: 125px; width: 125px; position: relative; border: 1px solid gray; border-radius: 18px; opacity: .6; transition: opacity .25s ease;}
.project-list li .thumb.hover {opacity: 1;}
.project-list li .info {position: absolute; margin-left: 140px; bottom: 5px; padding-right: 22px;}
.project-list li .title {display: block; text-align: left; font-size: 26px;}
.project-list li .title .deprecated-title {color: #f00;}
.project-list li .latest-post-read {display: block; text-align: left; font-size: 18px;}
.project-list li #latest-post {display: block; text-align: left; font-size: 18px;}
.project-list li .desc {display: block; text-align: left; font-size: 22px; color: #888;}
.project-list li .toggle {position: absolute; bottom: 5px; right: 25px; font-size: 40px; cursor: pointer; transition: all .5s ease;}
.project-list li .toggle.open {text-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg);}
.project-list li .extra {display: none;}
.project-list li p {text-align: left; font-size: 20px;}

/* Modal */
#modal-bg {display: none; width: 100%; height: 100%; background-color: #000; opacity: 0; position: absolute; top: 0; left: 0; z-index: 1000; transition: all .25s ease-in-out;}
#modal-window {visibility: hidden; opacity: 0; width: 500px; height: 370px; font-weight: 100; position: absolute; left: 50%; margin-left: -250px; top: 85px; text-align: center; z-index: 1001; background-color: #649B46; color: #fff; padding: 10px; transition: all .25s ease-in-out;}
#modal-wrap.show #modal-bg {display: block; opacity: .5;}
#modal-wrap.show #modal-window {opacity: 1; visibility: visible;}
#modal-window h2 {margin: 5px 0;}
#close-modal {height: 20px; position: absolute; top: -9px; right: -9px;}

/* Form Styles */
form {display: block;}
.form-list {list-style-type: none; padding: 5px 10px; margin-top: 5px;}
.form-list li {padding: 3px 3px 4px 0px; overflow: hidden;}
.form-list li#li-msg {margin-bottom: 10px;}
.form-list li.error label {color: #f00;}
.form-list li.error input {border: 1px solid #f00;}
.form-list li #form-msg {font-size: 18px;}
.form-list label {width: 150px; float: left; text-align: right; padding-right: 8px;}
.form-list input {float: left;}
.form-list textarea {height: 140px; width: 300px; resize: none; float: left; margin-bottom: 10px;}
#submit-li {text-align: center; float: right;}
#submit-li #email-load {display: none;}
#submit-li.loading #email-load {display: block;}
#submit-li.loading input {display: none;}
